<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{#<!DOCTYPE HTML>#}
{% load static %}
<html>

<head>
	<title>Doctor Registration   </title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Doctor Registration Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tags -->
	<!-- Stylesheet -->
	<link rel="stylesheet" href="../static/web/css/jquery-ui.css" />
	<link href="../static/web/css/style.css" rel='stylesheet' type='text/css' />
	<!-- //Stylesheet -->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet">
	<!--//fonts-->
</head>

<body>
	<!--background-->
	<h1>Doctor Registration  </h1>
	<div class="register-form-w3layouts">
		<!-- Form starts here -->
		<form action="/doctor_code" method="post" enctype="multipart/form-data" name="form1" id="form1>
			<h3 class="sub-heading-agileits">Personal Details</h3>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textfield" placeholder="First Name" required pattern="[A-Z a-z.]{3,25}">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<input type="text" name="textfield2" placeholder="Last Name" required pattern="[A-Z a-z.]{3,25}">
				</div>
			</div>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textfield3" placeholder="Phone" required pattern="[6789][0-9]{9}">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<input type="email" name="textfield4" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}">
				</div>
			</div>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
                    <label>DATE OF BIRTH </label>
					<input  name="textfield7" type="date" placeholder="DATE OF BIRTH "
					    min="1990-01-01" max="2019-12-31" required>
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<select class="form-control" name="radio" checked>
        <option>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
                    </select>

				</div>
			</div>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textarea" placeholder="Qualification" required pattern="[A-Z a-z.]{3,25}" >
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
                    <label>Image</label>
					<input type="file" name="file" placeholder="Image" required="">
				</div>
			</div>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<select class="form-control" name="specy">
    <option>Specialization</option>
    <option value="ENT">ENT</option>
    <option value="Dentist">Dentist</option>
    <option value="Skin Specialist">Skin Specialist</option>
                        <option value="Gastroentrologists">Gastroentrologists</option>
                        <option value="Cardiologists">Cardiologists</option>
                         <option value="Allergists">Allergists</option>

</select>

</div>


			<div class="field-agileinfo-spc form-w3-agile-text" style="padding-left: 150px">
								<input type="text" name="textarea2" placeholder="Place" pattern="[A-Z a-z.]{3,25}"></input>

			</div>
            </div>

                <div class="main-flex-w3ls-sectns">
            <div class="field-agileinfo-spc form-w3-agile-text">
				<input type="text" name="textfield5" placeholder="Post" pattern="[A-Z a-z.]{3,25}"></input>
			</div>
            <div class="field-agileinfo-spc form-w3-agile-text">
				<input type="text" name="textfield6" placeholder="PIN" required pattern="[0-9]{6}"></input>
			</div>
            </div>
			<div class="clear"></div>

			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="consult" placeholder="Consultation Fee" required="">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
                    <label>Certificate</label>
					<input type="file" name="file1" placeholder="Certificate" required="" >
				</div>
			</div>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textfield8" placeholder="Username" style="background-color: transparent" required pattern="[A-Z a-z.]{3,25}">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="password" name="textfield9" placeholder="Password" style="background-color: transparent;width: 300px;height: 40px" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
				</div>
			</div>


			 <input type="submit" name="Submit" value="ADD" />
			<input type="reset" value="Clear Form">
			<div class="clear"></div>
		</form>
		<!--// Form starts here -->
	</div>
	<!--copyright-->

	<!--//copyright-->
	<script type="text/javascript" src="../static/web/js/jquery-2.2.3.min.js"></script>
	<!-- Calendar Js -->
	<script src="../static/web/js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<!-- //Calendar Js -->

</body>

</html>