{% extends 'adminindex.html' %}
{% block body %}

<body  style="background-color: #1d1d1d;">
<form id="form1" name="form1" method="post" action="/blockaunbExp_search#about">

<table width="482" border="1" class="table table-dark table-striped">
  <tr>
    <td width="46">NAME</td>
    <td colspan="3">
      <label>
        <input type="text" name="textfield" placeholder="Enter the name..." />
        </label>
        </td>
    <td width="81">
      <label>
        <input type="submit" name="Submit" value="SEARCH" class="btn btn-outline-info" />
        </label>
       </td>
  </tr></form>

  <tr>
    <td align="center" width="100">EXPERT  ID</td>
    <td width="250" align="center">NAME</td>
    <td width="400" align="center">QUALIFICATION</td>
    <td width="52" colspan="5" align="center">&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <td align="center">{{ i.id }}</td>
    <td align="center">{{ i.fname }}&nbsp;</td>
    <td align="center">{{ i.qualification }}&nbsp;</td>
    <td colspan="2" align="center">      <label></label>

        <label>
             {% if i.LOGIN.type == 'expert' %}
        <div align="center"><a href="/blockaunbExp_block/{{ i.LOGIN.id }}" style="color: #FF0000">BLOCK</a></div>
        </label>
        {% else %}
        <a href="/blockaunbExp_unblock/{{ i.LOGIN.id }}">UNBLOCK</a>
        {% endif %}
    </td>
  </tr>
    {% endfor %}
</table>
</body>
 {% endblock %}
